*{

	padding:0px;
	margin:0px;
}
body{
	background:linear-gradient(#ffffff,#d9ddeb);
}
.header-block{
	background:#415e9b;
	height:65px;
	border-bottom:1px solid #133783;
	width:100%;
	margin: 0 auto;
	padding-top:15px;
}

.logo{
	width:59%;
	color:white;
	text-size:40px;
	text-style:verdana;
	float:left;
}

.logo h1{
	margin-left:190px;
	padding-top:10px;
	padding-bottom:10px;
	font: bold 35px Arial;
}
.facebook-login{
	width:41%;
	float:left;
}
.header-block lable{
	color:white;
}
.email{
	float:left;
}
.email lable{
	font:12px arial;
	padding-bottom:10px
}
.email input[type="text"]{
	margin-top:5px;
	height:23px;
	width:140px;
	border: 1px solid #1d2a5b;
}

.password{
	float:left;
	margin-left:15px;
}
.password lable{
	font:12px arial;
	padding-bottom:10px;
}
.password input[type="password"]{
	margin-top:5px;
	height:23px;
	width:140px;
	margin-bottom:3px;
	border: 1px solid #1d2a5b;
}
.password a{
	color:#8fb1d8;
	font:13px arial;
	text-decoration:none;
}
.login-button{
	float:left;
	margin-top:20px;
}
.login-button input[type="submit"]{
	background:#4267b2;
	border:1px solid #29487d;
	color:white;
	height:23px;
	width:50px;
	margin-left:18px;
}
.content{
	width:100%
	margin: 0 auto;
}
.connect{
	
	margin-top:45px;
	width:53%;
	float:left;
}
.connect p{
	padding:0px;
	margin-left:190px;
	color:#0e385f;
	font:bold 20px arial;
}

.create-account{
	float:left;

}
.create-account h2{
	margin-top:20px;
	margin-left:50px;
	font: bold 40px arial;
}
.create-account p{
	margin-left:50px;
	font: 18px arial;
}
.dob{
	
	float:left;
	margin-top:10px;
	width:70px;
	height:30px;
}
.dobyear{
	float:left;
	margin-top:10px;
	margin-right:10px;
	width:70px;
	height:30px;
}
.account{
	margin-left:40px
}
.account input[type="text"]{
	border:1px solid #b0c4de;
	height:40px;
	width:200px;
	margin-top:25px;
	margin-left:10px;
	border-radius:5px;
	padding:10px;
}
.account input[type="mobile"]{
	border:1px solid #b0c4de;
	height:40px;
	width:415px;
	margin-top:10px;
	margin-left:10px;
	border-radius:5px;
	padding:10px;
}
.account input[type="password"]{
	border:1px solid #b0c4de;
	height:40px;
	width:415px;
	margin-top:10px;
	margin-left:10px;
	border-radius:5px;
	margin-bottom:15px;
	padding:10px;
}
.account lable{
	font: 17px arial;
	margin-left:10px;
}
.message{
	margin-left:20px;
}

.division {
	float:left;
	margin-top:10px;
	margin-left:10px;
	font: 12px arial;
	color:#696969;
	
}
.division a{
	font: 12px arial;
	color:#6a5acd;
	text-decoration:none;
}
#Gender{
	margin-top:20px;
	margin-left:20px;
}

.margin{
	margin-left:10px;
}
#submit-button{
	linear-gradient(#67ae55,#578843);
	background-color:#69a74e;
	border:1px solid #2c5115;
	
	margin-top:25px;
	margin-left:10px;
	width:200px;
	height:37px;
	font:bold 16px arial;
	border-radius:5px;
	color:white;
	
}
#last-text{
	margin-left:10px;
	margin-top:50px;
	font: 12px arial;
	color:#696969;
}
#last-text a{
	color:#6a5acd;
	text-decoration:none;
}
#why-dob{
	font: 10px arial;
	margin-top:20px;
}
.div{
	height: 30px;
	line-height: 30px;
  	margin-left:5px;
	font: 10px arial;
	margin-top:12px;
  	text-decoration:none;
}
.div a{
	
	margin-top:15px;
	font: 11px arial;
	color:#6a5acd;
	text-decoration:none;
}