.container {
  	margin-top:200px;
  	display: flex;
  	justify-content: center; /* center horizontally */
  	align-items: center; /* center vertically */
}
input[type="text"]{
	padding:5px;
	width:250px;
	height:35px;
	border-radius:5px;
	border:1px solid #696969;
	margin-bottom:10px;
}
input[type="button"]{
	width:59px;
	height:30px;
	margin-bottom:5px;
}
#button{
	width:122px;
	height:30px;
	margin-bottom:5px;
}
