﻿@model TeslaMVC.Models.VehicleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
